@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Roboto:wght@300;400&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body, html{
    background-color: black;
    font-family: 'Roboto', sans-serif;
}
h1{
    color: white; 
}
p{
    color:white;
}
a, a:hover, a:visited{
    text-decoration: none;
    color:unset;
    /*color:white;*/
}
header{
    background: linear-gradient(180deg, #102347 0%, #181818 100%);
    height:220px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.dsmeta-logo-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    
}
.dsmeta-logo-container img{
    width:235px;
}
.dsmeta-logo-container h1{
    margin-top: 15px;
    font-size: 24px;
}
.dsmeta-logo-container p{
    font-size: 14px;
    font-weight: 300;
}